@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?dwz6w');
  src:  url('fonts/icomoon.eot?dwz6w#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?dwz6w') format('truetype'),
    url('fonts/icomoon.woff?dwz6w') format('woff'),
    url('fonts/icomoon.svg?dwz6w#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-apple-:before {
  content: "\e900";
}
.icon-173:before {
  content: "\e900";
}
.icon-arrow_down-:before {
  content: "\e901";
}
.icon-338:before {
  content: "\e901";
}
.icon-arrow_down-1:before {
  content: "\e902";
}
.icon-339:before {
  content: "\e902";
}
.icon-arrow_in_left-:before {
  content: "\e903";
}
.icon-390:before {
  content: "\e903";
}
.icon-arrow_left-:before {
  content: "\e973";
}
.icon-334:before {
  content: "\e973";
}
.icon-arrow_right-:before {
  content: "\e974";
}
.icon-333:before {
  content: "\e974";
}
.icon-arrow_up-:before {
  content: "\e904";
}
.icon-337:before {
  content: "\e904";
}
.icon-arrow_up-3:before {
  content: "\e905";
}
.icon-340:before {
  content: "\e905";
}
.icon-arrow_up-1:before {
  content: "\e906";
}
.icon-351:before {
  content: "\e906";
}
.icon-arrow_up-2:before {
  content: "\e907";
}
.icon-362:before {
  content: "\e907";
}
.icon-attachment-:before {
  content: "\e908";
}
.icon-1574:before {
  content: "\e908";
}
.icon-bike-:before {
  content: "\e909";
}
.icon-600:before {
  content: "\e909";
}
.icon-bitcoin-:before {
  content: "\e90a";
}
.icon-1186:before {
  content: "\e90a";
}
.icon-bluetooth-:before {
  content: "\e90b";
}
.icon-1014:before {
  content: "\e90b";
}
.icon-bookmark_fill-:before {
  content: "\e90c";
}
.icon-1226:before {
  content: "\e90c";
}
.icon-browser-:before {
  content: "\e90d";
}
.icon-233:before {
  content: "\e90d";
}
.icon-bus_front_view-:before {
  content: "\e90e";
}
.icon-615:before {
  content: "\e90e";
}
.icon-cabin-:before {
  content: "\e90f";
}
.icon-618:before {
  content: "\e90f";
}
.icon-calendar-:before {
  content: "\e910";
}
.icon-1194:before {
  content: "\e910";
}
.icon-calendar-1:before {
  content: "\e911";
}
.icon-1195:before {
  content: "\e911";
}
.icon-call-:before {
  content: "\e912";
}
.icon-192:before {
  content: "\e912";
}
.icon-camera-:before {
  content: "\e913";
}
.icon-947:before {
  content: "\e913";
}
.icon-car-:before {
  content: "\e914";
}
.icon-646:before {
  content: "\e914";
}
.icon-cart-:before {
  content: "\e915";
}
.icon-1167:before {
  content: "\e915";
}
.icon-cart_minus-:before {
  content: "\e916";
}
.icon-1161:before {
  content: "\e916";
}
.icon-cart_plus-:before {
  content: "\e917";
}
.icon-1157:before {
  content: "\e917";
}
.icon-cc-:before {
  content: "\e918";
}
.icon-937:before {
  content: "\e918";
}
.icon-celcius-:before {
  content: "\e919";
}
.icon-1219:before {
  content: "\e919";
}
.icon-center_object-:before {
  content: "\e91a";
}
.icon-885:before {
  content: "\e91a";
}
.icon-charger_round-:before {
  content: "\e91b";
}
.icon-672:before {
  content: "\e91b";
}
.icon-close-1:before {
  content: "\e91c";
}
.icon-1511:before {
  content: "\e91c";
}
.icon-close-:before {
  content: "\e91d";
}
.icon-1538:before {
  content: "\e91d";
}
.icon-diamond-:before {
  content: "\e91e";
}
.icon-768:before {
  content: "\e91e";
}
.icon-door-:before {
  content: "\e91f";
}
.icon-45:before {
  content: "\e91f";
}
.icon-dribbble-:before {
  content: "\e920";
}
.icon-171:before {
  content: "\e920";
}
.icon-dropbox-:before {
  content: "\e921";
}
.icon-158:before {
  content: "\e921";
}
.icon-edit_cover-:before {
  content: "\e922";
}
.icon-1481:before {
  content: "\e922";
}
.icon-email-:before {
  content: "\e923";
}
.icon-1573:before {
  content: "\e923";
}
.icon-emoji_happy_square-:before {
  content: "\e924";
}
.icon-403:before {
  content: "\e924";
}
.icon-emoji_happy_square_round-1:before {
  content: "\e925";
}
.icon-427:before {
  content: "\e925";
}
.icon-emoji_happy_square_round-2:before {
  content: "\e926";
}
.icon-431:before {
  content: "\e926";
}
.icon-emoji_happy_square_round-:before {
  content: "\e927";
}
.icon-438:before {
  content: "\e927";
}
.icon-emoji_neutral-:before {
  content: "\e928";
}
.icon-527:before {
  content: "\e928";
}
.icon-emoji_neutral_square_round-:before {
  content: "\e929";
}
.icon-436:before {
  content: "\e929";
}
.icon-emoji_sad-:before {
  content: "\e92a";
}
.icon-516:before {
  content: "\e92a";
}
.icon-evernote-:before {
  content: "\e92b";
}
.icon-156:before {
  content: "\e92b";
}
.icon-exclude-:before {
  content: "\e92c";
}
.icon-833:before {
  content: "\e92c";
}
.icon-facebook-:before {
  content: "\e92d";
}
.icon-176:before {
  content: "\e92d";
}
.icon-file-:before {
  content: "\e92e";
}
.icon-1677:before {
  content: "\e92e";
}
.icon-file_doc-:before {
  content: "\e92f";
}
.icon-1723:before {
  content: "\e92f";
}
.icon-file_eps-:before {
  content: "\e930";
}
.icon-1727:before {
  content: "\e930";
}
.icon-file_exe-:before {
  content: "\e931";
}
.icon-1731:before {
  content: "\e931";
}
.icon-file_image-:before {
  content: "\e932";
}
.icon-1687:before {
  content: "\e932";
}
.icon-file_jpg-:before {
  content: "\e933";
}
.icon-1741:before {
  content: "\e933";
}
.icon-file_jps-:before {
  content: "\e934";
}
.icon-1726:before {
  content: "\e934";
}
.icon-file_js-:before {
  content: "\e935";
}
.icon-1738:before {
  content: "\e935";
}
.icon-file_pdf-:before {
  content: "\e936";
}
.icon-1729:before {
  content: "\e936";
}
.icon-file_php-:before {
  content: "\e937";
}
.icon-1744:before {
  content: "\e937";
}
.icon-file_plus-:before {
  content: "\e938";
}
.icon-1682:before {
  content: "\e938";
}
.icon-file_png-:before {
  content: "\e939";
}
.icon-1740:before {
  content: "\e939";
}
.icon-file_psd-:before {
  content: "\e93a";
}
.icon-1728:before {
  content: "\e93a";
}
.icon-file_svg-:before {
  content: "\e93b";
}
.icon-1746:before {
  content: "\e93b";
}
.icon-file_txt-:before {
  content: "\e93c";
}
.icon-1733:before {
  content: "\e93c";
}
.icon-file_url-:before {
  content: "\e93d";
}
.icon-1734:before {
  content: "\e93d";
}
.icon-file_zip-:before {
  content: "\e93e";
}
.icon-1735:before {
  content: "\e93e";
}
.icon-folder-1:before {
  content: "\e93f";
}
.icon-1784:before {
  content: "\e93f";
}
.icon-folder-:before {
  content: "\e940";
}
.icon-1796:before {
  content: "\e940";
}
.icon-folder_minus-:before {
  content: "\e941";
}
.icon-1790:before {
  content: "\e941";
}
.icon-folder_plus-:before {
  content: "\e942";
}
.icon-1778:before {
  content: "\e942";
}
.icon-game_controller-:before {
  content: "\e943";
}
.icon-800:before {
  content: "\e943";
}
.icon-github-:before {
  content: "\e944";
}
.icon-142:before {
  content: "\e944";
}
.icon-google-:before {
  content: "\e945";
}
.icon-178:before {
  content: "\e945";
}
.icon-google_chrome-:before {
  content: "\e946";
}
.icon-157:before {
  content: "\e946";
}
.icon-google_drive-:before {
  content: "\e947";
}
.icon-169:before {
  content: "\e947";
}
.icon-google_play-:before {
  content: "\e948";
}
.icon-133:before {
  content: "\e948";
}
.icon-home-1:before {
  content: "\e970";
}
.icon-1391:before {
  content: "\e970";
}
.icon-home-:before {
  content: "\e971";
}
.icon-1392:before {
  content: "\e971";
}
.icon-image-:before {
  content: "\e949";
}
.icon-991:before {
  content: "\e949";
}
.icon-image_picture-:before {
  content: "\e94a";
}
.icon-972:before {
  content: "\e94a";
}
.icon-instagram-:before {
  content: "\e94b";
}
.icon-167:before {
  content: "\e94b";
}
.icon-javascript-:before {
  content: "\e94c";
}
.icon-155:before {
  content: "\e94c";
}
.icon-leaf-:before {
  content: "\e94d";
}
.icon-73:before {
  content: "\e94d";
}
.icon-link_round-:before {
  content: "\e94e";
}
.icon-1110:before {
  content: "\e94e";
}
.icon-lock_close-:before {
  content: "\e94f";
}
.icon-705:before {
  content: "\e94f";
}
.icon-lock_open-:before {
  content: "\e950";
}
.icon-706:before {
  content: "\e950";
}
.icon-microsoft-:before {
  content: "\e951";
}
.icon-150:before {
  content: "\e951";
}
.icon-mouse-:before {
  content: "\e952";
}
.icon-215:before {
  content: "\e952";
}
.icon-mr_robot-:before {
  content: "\e972";
}
.icon-120:before {
  content: "\e972";
}
.icon-multitasking-:before {
  content: "\e953";
}
.icon-1490:before {
  content: "\e953";
}
.icon-next_arrow-2:before {
  content: "\e954";
}
.icon-10:before {
  content: "\e954";
}
.icon-next_arrow-1:before {
  content: "\e955";
}
.icon-12:before {
  content: "\e955";
}
.icon-next_arrow-:before {
  content: "\e956";
}
.icon-14:before {
  content: "\e956";
}
.icon-option_bar_settings-:before {
  content: "\e957";
}
.icon-1399:before {
  content: "\e957";
}
.icon-pac-man-:before {
  content: "\e958";
}
.icon-91:before {
  content: "\e958";
}
.icon-paypal-:before {
  content: "\e959";
}
.icon-140:before {
  content: "\e959";
}
.icon-pen-:before {
  content: "\e95a";
}
.icon-1320:before {
  content: "\e95a";
}
.icon-pin_sharp_circle-:before {
  content: "\e95b";
}
.icon-624:before {
  content: "\e95b";
}
.icon-plus-:before {
  content: "\e95c";
}
.icon-1512:before {
  content: "\e95c";
}
.icon-profile-:before {
  content: "\e95d";
}
.icon-1336:before {
  content: "\e95d";
}
.icon-profile_close-:before {
  content: "\e95e";
}
.icon-1338:before {
  content: "\e95e";
}
.icon-profile_minus-:before {
  content: "\e95f";
}
.icon-1340:before {
  content: "\e95f";
}
.icon-profile_plus-:before {
  content: "\e960";
}
.icon-1337:before {
  content: "\e960";
}
.icon-reddit-:before {
  content: "\e961";
}
.icon-143:before {
  content: "\e961";
}
.icon-report_flag-:before {
  content: "\e962";
}
.icon-1416:before {
  content: "\e962";
}
.icon-save_item-:before {
  content: "\e963";
}
.icon-1409:before {
  content: "\e963";
}
.icon-skype-:before {
  content: "\e964";
}
.icon-170:before {
  content: "\e964";
}
.icon-spotify-:before {
  content: "\e965";
}
.icon-162:before {
  content: "\e965";
}
.icon-tag-:before {
  content: "\e966";
}
.icon-1173:before {
  content: "\e966";
}
.icon-text_style-:before {
  content: "\e967";
}
.icon-1210:before {
  content: "\e967";
}
.icon-tie-:before {
  content: "\e968";
}
.icon-765:before {
  content: "\e968";
}
.icon-tinder-:before {
  content: "\e969";
}
.icon-130:before {
  content: "\e969";
}
.icon-twitter-:before {
  content: "\e96a";
}
.icon-154:before {
  content: "\e96a";
}
.icon-whatsapp-:before {
  content: "\e96b";
}
.icon-128:before {
  content: "\e96b";
}
.icon-window_minus-:before {
  content: "\e96c";
}
.icon-1467:before {
  content: "\e96c";
}
.icon-window_plus-:before {
  content: "\e96d";
}
.icon-1466:before {
  content: "\e96d";
}
.icon-windows-:before {
  content: "\e96e";
}
.icon-174:before {
  content: "\e96e";
}
.icon-youtube-:before {
  content: "\e96f";
}
.icon-168:before {
  content: "\e96f";
}
