<header>
    <nav>
        <ul class="tabs" id="tabs">
            <li class="tabs_item"><a href="#tab1"><span>usuario_</span><i class="icon icon-home-"></i></a></li>
            <li class="tabs_item"><a href="#tab2"><span>equipos_</span><i class="icon icon-mr_robot-"></i></a></li>
            <li class="tabs_item"><a href="#tab3"><span>robots_</span><i class="icon icon-tie-"></i></a></li>
            <li class="tabs_item"><a href="#tab4"><span>noticias_</span><i class="icon icon-profile-"></i></a></li>
        </ul>
    </nav>
</header>

<main>
    <div class="seccions">
        <!-- TAB USER //FINISH// -->
        <article class="panel_item" id="tab1">
            <div class="container">
                <h1 class="title">Perfil</h1>
                <hr>
                <div class="user">
                    <p class="name">John Doe</p>
                    <p class="position">c a p i t &aacute; n &nbsp; d e &nbsp; e q u i p o</p>
                </div>
                <form action="#">
                    <div class="box">
                        <input type="text" name="institution" autocomplete="off" required value="Hola Mundo" disabled>
                        <label for="institution" class="label">
                            <span class="content">instituci&oacute;n_</span>
                        </label>
                    </div>
                    
                </form>
            </div>
        </article>
        <!-- TAB TEAMS //// -->
        <article class="panel_item" id="tab2">
            
        </article>
        <!-- TAB ROBOTS//// -->
        <article class="panel_item" id="tab3">
            
        </article>
        <!-- TAB NEWS//// -->
        <article class="panel_item" id="tab4">
            
        </article>
    </div>
</main>
<!-- JS -->

