<header>
    <nav>
        <ul class="tabs" id="tabs">
            <li class="tabs_item"><a href="#tab1"><span>inicio_</span><i class="icon icon-home-"></i></a></li>
            <li class="tabs_item"><a href="#tab2"><span>torneo_</span><i class="icon icon-mr_robot-"></i></a></li>
            <li class="tabs_item"><a href="#tab3"><span>nosotros_</span><i class="icon icon-tie-"></i></a></li>
            <li class="tabs_item"><a href="#tab4"><span>ingreso_</span><i class="icon icon-profile-"></i></a></li>
        </ul>
    </nav>
</header>

<main>
    <div class="seccions">
        <!-- TAB HOME //FINISH// -->
        <article class="panel_item" id="tab1">
            <div class="home-bg"></div>
            <div class="container__center">
                <img src="" alt="robots images" class="container__gallery" />
                <div class="ctrl">
                        <div class="ctrl__bottom">
                        <span id="prev" class="ctrl__dash"></span>
                        <span id="midd" class="ctrl__dash ctrl__dash--select"></span>
                        <span id="next" class="ctrl__dash"></span>
                        <span id="pause" class="ctrl__pause"></span>
                        </div>
                </div>
            </div>
            <div class="container">
                <div class="titles">
                    <span class="text-s">Rama estudiantil IEEE - UPIITA - IPN</span> <br>
                    <svg width="657" height="204" viewBox="0 0 657 204" fill="none" xmlns="http://www.w3.org/2000/svg" id="letters">
                        <mask id="path-1-outside-1" maskUnits="userSpaceOnUse" x="0" y="0" width="657" height="204" fill="none">
                        <rect fill="white" width="657" height="204"/>
                        <path d="M53.1 67.3C49.7 68.8 46 69.6 42 69.6C34.7 69.6 28.3 67.1 23.1 61.9C17.9 56.7 15.4 50.3 15.4 43C15.4 35.7 17.9 29.4 23.1 24.2C28.4 18.9 34.7 16.4 42 16.4C49.4 16.4 55.6 19 60.8 24.2L70.4 14.8C66.7 11.1 62.4 8.2 57.6 6.1C52.7 4 47.5 3 42 3C30.9 3 21.5 6.9 13.8 14.8C5.9 22.6 2 32 2 43C2 54.1 6 63.4 13.8 71.2C21.6 79 30.9 83 42 83C45.5 83 48.8 82.6 52 81.7C55.3 80.9 58.3 79.7 61.1 78.1C64 76.5 66.6 74.6 69 72.4C71.5 70.2 73.6 67.7 75.4 65L62.1 60.6C59.5 63.5 56.5 65.7 53.1 67.3ZM42 49.7H62.1L75.4 36.4H42V49.7Z"/>
                        <path d="M152.8 49.7C152.8 55.1 150.7 59.8 146.8 63.7C142.9 67.6 138.2 69.6 132.7 69.6C127.2 69.6 122.4 67.7 118.5 63.7C114.7 59.9 112.8 55.2 112.8 49.7V3H99.5V49.7C99.5 58.8 102.7 66.8 109.2 73.3C115.7 79.8 123.6 83 132.7 83C141.8 83 149.8 79.8 156.3 73.3C162.9 66.8 166.1 58.9 166.1 49.7H152.8Z"/>
                        <path d="M174.148 81.9V83H227.448V69.6H187.448L174.148 81.9ZM174.148 3L187.448 16.4H227.448V3H174.148ZM174.148 36.4V49.7H187.448H227.448V36.4H187.448H174.148Z"/>
                        <path d="M293.102 44.7C296.302 40.2 297.802 35.2 297.802 29.6C297.802 22.3 295.202 16.1 290.002 10.8C284.802 5.6 278.502 3 271.202 3H236.102L243.002 14.9L244.502 16.4H271.202C274.802 16.4 277.902 17.7 280.502 20.3C283.202 22.9 284.502 26 284.502 29.6C284.502 33.3 283.202 36.5 280.502 39.1C277.902 41.7 274.802 43 271.202 43L259.302 42.9L282.502 83H297.802L281.402 54.3C286.102 52.4 290.002 49.2 293.102 44.7Z"/>
                        <path d="M358.961 44.7C362.161 40.2 363.661 35.2 363.661 29.6C363.661 22.3 361.061 16.1 355.861 10.8C350.661 5.6 344.361 3 337.061 3H301.961L308.861 14.9L310.361 16.4H337.061C340.661 16.4 343.761 17.7 346.361 20.3C349.061 22.9 350.361 26 350.361 29.6C350.361 33.3 349.061 36.5 346.361 39.1C343.761 41.7 340.661 43 337.061 43L325.161 42.9L348.361 83H363.661L347.261 54.3C351.961 52.4 355.861 49.2 358.961 44.7Z"/>
                        <path d="M421.235 56.4L433.035 32.9L444.735 56.4H459.735L433.035 3L393.035 83H407.835L414.635 69.6L421.235 56.4ZM466.335 69.7H451.535L458.135 83H473.035L466.335 69.7Z"/>
                        <path d="M586.477 27.6C584.277 22.7 581.477 18.5 577.777 14.8C574.177 11.2 569.877 8.3 565.077 6.2C560.177 4.1 555.077 3 549.577 3H522.977L536.277 16.4H549.577C553.177 16.4 556.677 17.1 559.877 18.4C563.077 19.8 565.977 21.8 568.377 24.2C570.877 26.7 572.777 29.5 574.177 32.7C575.577 36 576.277 39.4 576.277 43C576.277 46.6 575.577 50 574.177 53.3C572.777 56.5 570.877 59.3 568.477 61.8C566.077 64.3 563.177 66.2 559.977 67.6C556.777 68.9 553.277 69.6 549.577 69.6H536.277L522.977 83H549.577C555.077 83 560.277 81.9 565.077 79.8C569.977 77.7 574.277 74.8 577.877 71.2C581.477 67.5 584.277 63.3 586.477 58.4C588.577 53.6 589.577 48.5 589.577 43C589.577 37.5 588.577 32.4 586.477 27.6Z"/>
                        <path d="M602.605 81.9V83H655.905V69.6H615.905L602.605 81.9ZM602.605 3L615.905 16.4H655.905V3H602.605ZM602.605 36.4V49.7H615.905H655.905V36.4H615.905H602.605Z"/>
                        <path d="M59 164.7C62.2 160.2 63.7 155.2 63.7 149.6C63.7 142.3 61.1 136.1 55.9 130.8C50.7 125.6 44.4 123 37.1 123H2L8.9 134.9L10.4 136.4H37.1C40.7 136.4 43.8 137.7 46.4 140.3C49.1 142.9 50.4 146 50.4 149.6C50.4 153.3 49.1 156.5 46.4 159.1C43.8 161.7 40.7 163 37.1 163L25.2 162.9L48.4 203H63.7L47.3 174.3C52 172.4 55.9 169.2 59 164.7Z"/>
                        <path d="M128.074 123C116.974 123 107.574 127 99.8742 134.8C92.0742 142.6 88.0742 152 88.0742 163C88.0742 174.1 92.0742 183.4 99.8742 191.2C107.674 199 116.974 203 128.074 203C139.174 203 148.474 199 156.274 191.2C164.174 183.5 168.174 174.1 168.174 163C168.174 152 164.174 142.6 156.274 134.8C148.474 127 139.174 123 128.074 123ZM128.074 136.4C135.374 136.4 141.674 139 146.874 144.2C152.074 149.4 154.674 155.7 154.674 163C154.674 170.3 152.174 176.6 146.874 181.9C141.674 187.1 135.374 189.6 128.074 189.6C120.774 189.6 114.374 187.1 109.174 181.9C103.974 176.7 101.474 170.3 101.474 163C101.474 155.7 103.974 149.4 109.174 144.2C114.474 138.9 120.774 136.4 128.074 136.4Z"/>
                        <path d="M247.78 146.3C247.78 143.1 247.18 140.1 245.98 137.3C244.78 134.4 243.08 132 240.98 129.9C238.88 127.7 236.38 126.1 233.48 124.8C230.58 123.6 227.58 123 224.48 123H181.18L194.48 136.4H224.48C225.78 136.4 227.08 136.6 228.28 137.1C229.58 137.6 230.68 138.3 231.58 139.3C232.48 140.2 233.18 141.3 233.68 142.5C234.18 143.7 234.48 145 234.48 146.3C234.48 147.7 234.18 149 233.68 150.2C233.18 151.4 232.48 152.5 231.58 153.4C230.68 154.4 229.58 155.1 228.28 155.6C227.08 156.2 225.78 156.4 224.48 156.4H194.48H189.18H181.18V169.7H194.48H224.48C225.88 169.7 227.18 170 228.48 170.5C229.68 171 230.68 171.8 231.58 172.7C232.48 173.6 233.18 174.7 233.68 175.9C234.18 177.1 234.48 178.4 234.48 179.7C234.48 181 234.18 182.3 233.68 183.5C233.18 184.7 232.48 185.8 231.58 186.7C230.68 187.7 229.58 188.4 228.28 188.9C227.08 189.4 225.78 189.6 224.48 189.6H194.48V203H224.48C227.68 203 230.68 202.4 233.48 201.2C236.38 199.9 238.88 198.3 240.98 196.1C243.08 194 244.78 191.6 245.98 188.7C247.18 185.9 247.78 182.9 247.78 179.7C247.78 173.1 245.48 167.5 240.78 163C245.48 158.4 247.78 152.8 247.78 146.3Z"/>
                        <path d="M312.039 123C300.939 123 291.539 127 283.839 134.8C276.039 142.6 272.039 152 272.039 163C272.039 174.1 276.039 183.4 283.839 191.2C291.639 199 300.939 203 312.039 203C323.139 203 332.439 199 340.239 191.2C348.139 183.5 352.139 174.1 352.139 163C352.139 152 348.139 142.6 340.239 134.8C332.439 127 323.139 123 312.039 123ZM312.039 136.4C319.339 136.4 325.639 139 330.839 144.2C336.039 149.4 338.639 155.7 338.639 163C338.639 170.3 336.139 176.6 330.839 181.9C325.639 187.1 319.339 189.6 312.039 189.6C304.739 189.6 298.339 187.1 293.139 181.9C287.939 176.7 285.439 170.3 285.439 163C285.439 155.7 287.939 149.4 293.139 144.2C298.439 138.9 304.739 136.4 312.039 136.4Z"/>
                        <path d="M378.523 123V136.4V203H391.923V136.4H418.523V123H378.523Z"/>
                        <path d="M471.567 169.7C474.367 169.7 476.667 170.7 478.667 172.7C480.567 174.7 481.667 177 481.667 179.7C481.667 181.1 481.367 182.4 480.867 183.6C480.367 184.9 479.667 185.9 478.767 186.8C477.867 187.7 476.767 188.4 475.467 188.9C474.267 189.4 472.967 189.6 471.567 189.6V203C478.067 203 483.567 200.7 488.067 196.2C492.667 191.6 494.967 186.1 494.967 179.7C494.967 173.3 492.667 167.8 488.067 163.2C483.567 158.7 478.067 156.4 471.567 156.4H451.667C448.767 156.4 446.467 155.4 444.467 153.4C442.567 151.4 441.667 149.1 441.667 146.3C441.667 145 441.867 143.7 442.367 142.5C442.867 141.3 443.567 140.2 444.467 139.3C445.467 138.3 446.467 137.6 447.767 137.1C448.967 136.6 450.267 136.4 451.667 136.4V123C445.167 123 439.667 125.3 435.167 129.9C430.667 134.5 428.367 139.9 428.367 146.3C428.367 152.8 430.667 158.3 435.167 162.9C439.667 167.4 445.167 169.7 451.667 169.7H471.567Z"/>
                        </mask>
                        <path d="M53.1 67.3C49.7 68.8 46 69.6 42 69.6C34.7 69.6 28.3 67.1 23.1 61.9C17.9 56.7 15.4 50.3 15.4 43C15.4 35.7 17.9 29.4 23.1 24.2C28.4 18.9 34.7 16.4 42 16.4C49.4 16.4 55.6 19 60.8 24.2L70.4 14.8C66.7 11.1 62.4 8.2 57.6 6.1C52.7 4 47.5 3 42 3C30.9 3 21.5 6.9 13.8 14.8C5.9 22.6 2 32 2 43C2 54.1 6 63.4 13.8 71.2C21.6 79 30.9 83 42 83C45.5 83 48.8 82.6 52 81.7C55.3 80.9 58.3 79.7 61.1 78.1C64 76.5 66.6 74.6 69 72.4C71.5 70.2 73.6 67.7 75.4 65L62.1 60.6C59.5 63.5 56.5 65.7 53.1 67.3ZM42 49.7H62.1L75.4 36.4H42V49.7Z" stroke="#DFD4F2" stroke-width="2" mask="url(#path-1-outside-1)"/>
                        <path d="M152.8 49.7C152.8 55.1 150.7 59.8 146.8 63.7C142.9 67.6 138.2 69.6 132.7 69.6C127.2 69.6 122.4 67.7 118.5 63.7C114.7 59.9 112.8 55.2 112.8 49.7V3H99.5V49.7C99.5 58.8 102.7 66.8 109.2 73.3C115.7 79.8 123.6 83 132.7 83C141.8 83 149.8 79.8 156.3 73.3C162.9 66.8 166.1 58.9 166.1 49.7H152.8Z" stroke="#DFD4F2" stroke-width="2" mask="url(#path-1-outside-1)"/>
                        <path d="M174.148 81.9V83H227.448V69.6H187.448L174.148 81.9ZM174.148 3L187.448 16.4H227.448V3H174.148ZM174.148 36.4V49.7H187.448H227.448V36.4H187.448H174.148Z" stroke="#DFD4F2" stroke-width="2" mask="url(#path-1-outside-1)"/>
                        <path d="M293.102 44.7C296.302 40.2 297.802 35.2 297.802 29.6C297.802 22.3 295.202 16.1 290.002 10.8C284.802 5.6 278.502 3 271.202 3H236.102L243.002 14.9L244.502 16.4H271.202C274.802 16.4 277.902 17.7 280.502 20.3C283.202 22.9 284.502 26 284.502 29.6C284.502 33.3 283.202 36.5 280.502 39.1C277.902 41.7 274.802 43 271.202 43L259.302 42.9L282.502 83H297.802L281.402 54.3C286.102 52.4 290.002 49.2 293.102 44.7Z" stroke="#DFD4F2" stroke-width="2" mask="url(#path-1-outside-1)"/>
                        <path d="M358.961 44.7C362.161 40.2 363.661 35.2 363.661 29.6C363.661 22.3 361.061 16.1 355.861 10.8C350.661 5.6 344.361 3 337.061 3H301.961L308.861 14.9L310.361 16.4H337.061C340.661 16.4 343.761 17.7 346.361 20.3C349.061 22.9 350.361 26 350.361 29.6C350.361 33.3 349.061 36.5 346.361 39.1C343.761 41.7 340.661 43 337.061 43L325.161 42.9L348.361 83H363.661L347.261 54.3C351.961 52.4 355.861 49.2 358.961 44.7Z" stroke="#DFD4F2" stroke-width="2" mask="url(#path-1-outside-1)"/>
                        <path d="M421.235 56.4L433.035 32.9L444.735 56.4H459.735L433.035 3L393.035 83H407.835L414.635 69.6L421.235 56.4ZM466.335 69.7H451.535L458.135 83H473.035L466.335 69.7Z" stroke="#DFD4F2" stroke-width="2" mask="url(#path-1-outside-1)"/>
                        <path d="M586.477 27.6C584.277 22.7 581.477 18.5 577.777 14.8C574.177 11.2 569.877 8.3 565.077 6.2C560.177 4.1 555.077 3 549.577 3H522.977L536.277 16.4H549.577C553.177 16.4 556.677 17.1 559.877 18.4C563.077 19.8 565.977 21.8 568.377 24.2C570.877 26.7 572.777 29.5 574.177 32.7C575.577 36 576.277 39.4 576.277 43C576.277 46.6 575.577 50 574.177 53.3C572.777 56.5 570.877 59.3 568.477 61.8C566.077 64.3 563.177 66.2 559.977 67.6C556.777 68.9 553.277 69.6 549.577 69.6H536.277L522.977 83H549.577C555.077 83 560.277 81.9 565.077 79.8C569.977 77.7 574.277 74.8 577.877 71.2C581.477 67.5 584.277 63.3 586.477 58.4C588.577 53.6 589.577 48.5 589.577 43C589.577 37.5 588.577 32.4 586.477 27.6Z" stroke="#DFD4F2" stroke-width="2" mask="url(#path-1-outside-1)"/>
                        <path d="M602.605 81.9V83H655.905V69.6H615.905L602.605 81.9ZM602.605 3L615.905 16.4H655.905V3H602.605ZM602.605 36.4V49.7H615.905H655.905V36.4H615.905H602.605Z" stroke="#DFD4F2" stroke-width="2" mask="url(#path-1-outside-1)"/>
                        <path d="M59 164.7C62.2 160.2 63.7 155.2 63.7 149.6C63.7 142.3 61.1 136.1 55.9 130.8C50.7 125.6 44.4 123 37.1 123H2L8.9 134.9L10.4 136.4H37.1C40.7 136.4 43.8 137.7 46.4 140.3C49.1 142.9 50.4 146 50.4 149.6C50.4 153.3 49.1 156.5 46.4 159.1C43.8 161.7 40.7 163 37.1 163L25.2 162.9L48.4 203H63.7L47.3 174.3C52 172.4 55.9 169.2 59 164.7Z" stroke="#DFD4F2" stroke-width="2" mask="url(#path-1-outside-1)"/>
                        <path d="M128.074 123C116.974 123 107.574 127 99.8742 134.8C92.0742 142.6 88.0742 152 88.0742 163C88.0742 174.1 92.0742 183.4 99.8742 191.2C107.674 199 116.974 203 128.074 203C139.174 203 148.474 199 156.274 191.2C164.174 183.5 168.174 174.1 168.174 163C168.174 152 164.174 142.6 156.274 134.8C148.474 127 139.174 123 128.074 123ZM128.074 136.4C135.374 136.4 141.674 139 146.874 144.2C152.074 149.4 154.674 155.7 154.674 163C154.674 170.3 152.174 176.6 146.874 181.9C141.674 187.1 135.374 189.6 128.074 189.6C120.774 189.6 114.374 187.1 109.174 181.9C103.974 176.7 101.474 170.3 101.474 163C101.474 155.7 103.974 149.4 109.174 144.2C114.474 138.9 120.774 136.4 128.074 136.4Z" stroke="#DFD4F2" stroke-width="2" mask="url(#path-1-outside-1)"/>
                        <path d="M247.78 146.3C247.78 143.1 247.18 140.1 245.98 137.3C244.78 134.4 243.08 132 240.98 129.9C238.88 127.7 236.38 126.1 233.48 124.8C230.58 123.6 227.58 123 224.48 123H181.18L194.48 136.4H224.48C225.78 136.4 227.08 136.6 228.28 137.1C229.58 137.6 230.68 138.3 231.58 139.3C232.48 140.2 233.18 141.3 233.68 142.5C234.18 143.7 234.48 145 234.48 146.3C234.48 147.7 234.18 149 233.68 150.2C233.18 151.4 232.48 152.5 231.58 153.4C230.68 154.4 229.58 155.1 228.28 155.6C227.08 156.2 225.78 156.4 224.48 156.4H194.48H189.18H181.18V169.7H194.48H224.48C225.88 169.7 227.18 170 228.48 170.5C229.68 171 230.68 171.8 231.58 172.7C232.48 173.6 233.18 174.7 233.68 175.9C234.18 177.1 234.48 178.4 234.48 179.7C234.48 181 234.18 182.3 233.68 183.5C233.18 184.7 232.48 185.8 231.58 186.7C230.68 187.7 229.58 188.4 228.28 188.9C227.08 189.4 225.78 189.6 224.48 189.6H194.48V203H224.48C227.68 203 230.68 202.4 233.48 201.2C236.38 199.9 238.88 198.3 240.98 196.1C243.08 194 244.78 191.6 245.98 188.7C247.18 185.9 247.78 182.9 247.78 179.7C247.78 173.1 245.48 167.5 240.78 163C245.48 158.4 247.78 152.8 247.78 146.3Z" stroke="#DFD4F2" stroke-width="2" mask="url(#path-1-outside-1)"/>
                        <path d="M312.039 123C300.939 123 291.539 127 283.839 134.8C276.039 142.6 272.039 152 272.039 163C272.039 174.1 276.039 183.4 283.839 191.2C291.639 199 300.939 203 312.039 203C323.139 203 332.439 199 340.239 191.2C348.139 183.5 352.139 174.1 352.139 163C352.139 152 348.139 142.6 340.239 134.8C332.439 127 323.139 123 312.039 123ZM312.039 136.4C319.339 136.4 325.639 139 330.839 144.2C336.039 149.4 338.639 155.7 338.639 163C338.639 170.3 336.139 176.6 330.839 181.9C325.639 187.1 319.339 189.6 312.039 189.6C304.739 189.6 298.339 187.1 293.139 181.9C287.939 176.7 285.439 170.3 285.439 163C285.439 155.7 287.939 149.4 293.139 144.2C298.439 138.9 304.739 136.4 312.039 136.4Z" stroke="#DFD4F2" stroke-width="2" mask="url(#path-1-outside-1)"/>
                        <path d="M378.523 123V136.4V203H391.923V136.4H418.523V123H378.523Z" stroke="#DFD4F2" stroke-width="2" mask="url(#path-1-outside-1)"/>
                        <path d="M471.567 169.7C474.367 169.7 476.667 170.7 478.667 172.7C480.567 174.7 481.667 177 481.667 179.7C481.667 181.1 481.367 182.4 480.867 183.6C480.367 184.9 479.667 185.9 478.767 186.8C477.867 187.7 476.767 188.4 475.467 188.9C474.267 189.4 472.967 189.6 471.567 189.6V203C478.067 203 483.567 200.7 488.067 196.2C492.667 191.6 494.967 186.1 494.967 179.7C494.967 173.3 492.667 167.8 488.067 163.2C483.567 158.7 478.067 156.4 471.567 156.4H451.667C448.767 156.4 446.467 155.4 444.467 153.4C442.567 151.4 441.667 149.1 441.667 146.3C441.667 145 441.867 143.7 442.367 142.5C442.867 141.3 443.567 140.2 444.467 139.3C445.467 138.3 446.467 137.6 447.767 137.1C448.967 136.6 450.267 136.4 451.667 136.4V123C445.167 123 439.667 125.3 435.167 129.9C430.667 134.5 428.367 139.9 428.367 146.3C428.367 152.8 430.667 158.3 435.167 162.9C439.667 167.4 445.167 169.7 451.667 169.7H471.567Z" stroke="#DFD4F2" stroke-width="2" mask="url(#path-1-outside-1)"/>
                        </svg>
                    <span class="text">
                        El evento de rob&oacute;tica internacional m&aacute;s importante de M&eacute;xico
                    </span>
                </div>
                <div class="social-network">
                    <span class="text-s">redes sociales</span><br>
                    <ul>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Twiter</a></li>
                        <li><a href="#">Instagram</a></li>
                    </ul>
                </div>
            </div>
            <footer>
                <span>Todos los derechos reservados &copy; 2020. Guerra de Robots.</span>
                <a href="#">Aviso de Privacidad</a><a href="#">Terminos y Condiciones</a>
            </footer>
            
            
            
        </article>
        <!-- TAB TOURNAMENT //// -->
        <article class="panel_item" id="tab2">
            <div class="bg-tournament">
                <svg id="tech" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1100 800"><g fill="none" fill-rule="evenodd"><path stroke="#31B495" d="M781.02 488.77v69.78c0 1.08-.88 1.96-1.97 1.96l-135.12-.04c-1.09 0-2.6.62-3.38 1.39l-39.23 38.96a5.52 5.52 0 0 1-3.37 1.4h-75.38a1.97 1.97 0 0 1-1.97-1.97v-33.5"/><path stroke="#F4D21F" d="M674.88 355.57l45.54-45.24a5.42 5.42 0 0 0 1.39-3.35l-.06-10.38c0-1.08-.63-2.58-1.4-3.35l-43.38-43.07a1.94 1.94 0 0 1 0-2.77l82.83-82.25a5.52 5.52 0 0 1 3.37-1.4l44.94.1c1.08 0 2.6-.62 3.37-1.37L952.5 22.65"/><path stroke="#1AACA8" d="M507-76.68v265.47a4 4 0 0 0 4 3.99H566c1.08 0 1.97.88 1.97 1.96v147.5c0 1.08-.63 2.59-1.4 3.35l-47.9 47.4a5.45 5.45 0 0 0-1.4 3.34c0 2.25.64 3.76 1.4 4.53l53.82 53.26c.77.76 1.76 1.39 2.19 1.39.43 0 .79.88.79 1.96v70.17c0 1.07-.89 1.96-1.97 1.96l-85.81-.04c-1.09 0-2.6.62-3.38 1.39l-1.55 1.54a5.52 5.52 0 0 1-3.38 1.4h-9.29"/><path stroke="#1F8C43" d="M8 127.82v391.06a4.04 4.04 0 0 0 4 4.04L140.8 524"/><path stroke="#1AA5D0" d="M894.01 374l49.8-49.44a5.52 5.52 0 0 1 3.37-1.4h92.41c1.09 0 2.6.63 3.38 1.4l27.18 26.99"/><path stroke="#1AA5D0" d="M894.01 374l49.8-49.44a5.52 5.52 0 0 1 3.37-1.4h92.41c1.09 0 2.6.63 3.38 1.4l27.18 26.99"/><path stroke="#1F8C43" d="M755.16 213.9l70.82.04c1.08 0 2.6-.63 3.37-1.4l91.61-90.97a5.52 5.52 0 0 1 3.37-1.39h77.07l-71.29-72.13a5.45 5.45 0 0 1-1.4-3.35V16.87"/><path stroke="#9DCA40" d="M261.78-52.44l11.16 11.08c.77.77 1.4 2.28 1.4 3.35V-5L156.7 111.03l-85.4 84.8a5.45 5.45 0 0 0-1.4 3.35v100.67c0 1.08.89 1.96 1.97 1.96h50.4c1.09 0 1.98.88 1.98 1.96l.07 26.92c0 1.07.9 1.96 1.98 1.96l335.73.13c1.09 0 1.98.88 1.98 1.96v36.79l-42.99 43.78a5.52 5.52 0 0 1-3.37 1.4H385.2"/><path stroke="#DA5A98" d="M564.8 549.64v17.76c0 1.08-.64 2.59-1.4 3.35L382.28 750.6a5.52 5.52 0 0 1-3.38 1.39h-109.1c-1.09 0-1.97.88-1.97 1.96v23.37c0 1.07-.9 1.96-1.98 1.96h-83.54c-1.08 0-1.97.88-1.97 1.96v45.8c0 1.07.89 1.95 1.97 1.95h29.89c1.08 0 1.97.88 1.97 1.96v51.07c0 1.08.63 2.59 1.4 3.35l10.32 10.25c.77.76 2.29 1.39 3.37 1.39h111.77c1.09 0 1.34.62.57 1.39M482.82 656H630.9"/><path stroke="#E5683E" d="M440.53 245.87l-31.7 31.48a5.52 5.52 0 0 1-3.37 1.39h-62.37c-1.09 0-2.6.62-3.38 1.39l-2.68 3.66-264.59.02c-1.08 0-2.6-.63-3.37-1.4l-47.3-46.97a5.52 5.52 0 0 0-3.37-1.39h-57.47l-1.12-34.61c0-1.08-.63-2.59-1.4-3.35l-66.54-65.94"/><path stroke="#9F83B6" d="M705.31 221.73h7.83c1.09 0 2.6.63 3.37 1.4l45.8 45.6c.78.76 1.4 2.27 1.4 3.35v13.94c0 1.08.46 1.96 1.03 1.98.56 0 1.03.9 1.03 1.98v10.77l-.15 110.84c0 1.08-.89 1.96-1.98 1.96H628.32c-1.08 0-2.6-.63-3.37-1.4l-12.2-12.12a5.52 5.52 0 0 0-3.38-1.39h-46.18a2 2 0 0 0-2 1.96l-.17 26.74c0 1.08-.63 2.59-1.4 3.35l-8.82 8.76a5.52 5.52 0 0 1-3.37 1.39l-26.65-.06c-1.09 0-2.6.62-3.38 1.39l-48.1 47.78a5.52 5.52 0 0 1-3.38 1.39h-16.37l-79.45-.02c-1.09 0-2.6.63-3.36 1.39L220.71 639.06a5.47 5.47 0 0 1-3.35 1.4H31.06"/><path stroke="#BC6D21" d="M145.43 99.41L289.6 243.5c.77.76 2.29 1.39 3.37 1.39h146.76c1.09 0 2.6.62 3.38 1.39l31.93 31.71c.77.77 1.4 2.27 1.4 3.35V474.1c0 1.08-.63 2.59-1.4 3.35l-7.6 7.54a5.52 5.52 0 0 1-3.36 1.4h-20.62l-20.67 20.97-2.78 2.78L289.37 640a5.45 5.45 0 0 0-1.4 3.35l.16 177.85"/><path stroke="#DA1817" d="M318.82 380.62h94.88c1.09 0 2.6.63 3.38 1.39l14.97 14.87c.77.76 2.29 1.39 3.37 1.39h72.99c1.08 0 2.6.63 3.35 1.39l58.57 58.53c.77.77 2.27 1.4 3.35 1.4h103.37c1.08 0 1.97-.89 1.97-1.97v-14.7c0-1.09-.89-1.97-1.97-1.97l-6.7.02H630.1a1.97 1.97 0 0 1-1.97-1.96v-57c0-1.08-.63-2.59-1.4-3.35l-14.58-14.48a5.45 5.45 0 0 1-1.4-3.35v-17.3c0-1.07-.63-2.58-1.4-3.34L597 327.92a5.52 5.52 0 0 0-3.37-1.39h-17.4c-1.09 0-2.6-.62-3.38-1.39l-41.8-41.5a5.52 5.52 0 0 0-3.37-1.4h-41.34"/><path stroke="#9F9FA0"/><path stroke="#74BB63" d="M855.2 194.4h59.84c1.09 0 1.97.89 1.97 1.96v28.74c0 1.08.64 2.59 1.4 3.35l50.96 50.6c.77.76 1.4 2.27 1.4 3.35v101.47l105.2 104.27"/><path stroke="#DA5A98" d="M638.46 305.73L651 293.29c.77-.74.77-2 0-2.76l-31.35-31.13c-.76-.74-.76-2 0-2.76l18.53-18.4a5.52 5.52 0 0 1 3.37-1.39l160.41-.2 423.37 1.2c1.08 0 1.97.89 1.97 1.96v71.5"/><path stroke="#BC6D21" d="M438.61 486.03h-18.54c-1.08 0-2.6-.63-3.37-1.4l-74.94-74.41a5.52 5.52 0 0 0-3.37-1.4h-38.57c-1.08 0-2.6-.62-3.37-1.38l-47-46.68-36.58-.04-57 71.59a5.45 5.45 0 0 0-1.4 3.35v23.9"/><path stroke="#74BB63" d="M882.06 358.97l-46.92 46.6a5.52 5.52 0 0 1-3.38 1.39h-94.64c-1.09 0-2.6-.63-3.38-1.4l-30.6-30.33a5.52 5.52 0 0 0-3.36-1.4l-34.94.04c-1.08 0-2.6.63-3.37 1.4l-29.57 29.36a5.52 5.52 0 0 1-3.37 1.39l-14.55-14.35a5.63 5.63 0 0 0-3.42-1.4l-156.97-.25c-1.11 0-2.65.63-3.43 1.4l-27.85 27.61a5.52 5.52 0 0 1-3.38 1.4H-23.82l-88.65.2-12.44 12.35"/><path stroke="#2283BC" d="M292.9 643.74l59.56-59.12a5.52 5.52 0 0 1 3.37-1.39h23.93c1.08 0 2.6-.63 3.37-1.39l46.53-46.21a5.52 5.52 0 0 1 3.38-1.4h33.53l153.67-.01c1.08 0 1.97-.88 1.97-1.96V420.01c0-1.07-.63-2.58-1.4-3.35l-38.64-38.37a5.45 5.45 0 0 1-1.4-3.35v-51.52c0-1.08-.64-2.59-1.4-3.35L468.91 210.39a5.52 5.52 0 0 0-3.38-1.4l-180.49.2"/><path stroke="#DA5A98" d="M484.13 548.71h-37.09c-1.08 0-2.6.63-3.37 1.4l-69.02 68.54c-.77.76-.77 2 0 2.76l28.09 27.78c.77.76 2.29 1.39 3.37 1.39h62.41"/><path stroke="#31B495" d="M520.82 561.7v-4.74c0-1.08-.89-1.96-1.98-1.96h-13.21c-1.09 0-2.6-.62-3.37-1.39l-43.36-42.88a5.45 5.45 0 0 1-1.4-3.35v-190.4c0-1.08.63-2.6 1.4-3.36l20.89-20.74a5.45 5.45 0 0 0 1.4-3.35v-95.4c0-1.08-.63-2.58-1.4-3.35L292.4 4.7l-.6-40.88c0-1.08-.62-2.58-1.4-3.35L278.8-51.07"/><path stroke="#1EB2D8" d="M275.76 745h99.28c1.09 0 2.6-.63 3.38-1.4l174.33-172.75a5.52 5.52 0 0 1 3.38-1.4h46.75c1.08 0 2.6-.62 3.35-1.38l51.47-51.46a5.42 5.42 0 0 0 1.38-3.35V311.29c0-1.07-.63-2.58-1.4-3.35l-51.84-51.3a5.52 5.52 0 0 0-3.38-1.4h-17.95a1.97 1.97 0 0 1-1.97-1.95v-44.47c0-1.07-.89-1.96-1.97-1.96h-88.63a1.97 1.97 0 0 1-1.97-1.96v-19.2c0-1.07-.64-2.58-1.4-3.34L309.87 4.92"/><path stroke="#F4D21F" d="M1002.65 123.83H926.5c-1.08 0-2.6.62-3.37 1.39l-92.28 91.46a5.52 5.52 0 0 1-3.37 1.39l-131.87-.08c-1.09 0-2.6.63-3.37 1.37l-51.9 51.19c-.77.76-.77 2 0 2.76l21.22 21.1c.77.76 1.4 2.27 1.4 3.35v15.69"/><path stroke="#BE2F39" d="M672.51 437.64h54.25c1.08 0 2.6.63 3.37 1.4l49.04 48.7c.77.76 2.29 1.38 3.37 1.38h45.16c1.08 0 2.6-.62 3.37-1.39L914.39 405a5.52 5.52 0 0 1 3.37-1.4h42.22c1.08 0 2.6.63 3.37 1.4l100.8 100.1"/><path stroke="#E5683E" d="M672.51 434.31h55.63c1.08 0 2.6.63 3.37 1.4l49.14 48.8c.77.76 2.29 1.38 3.37 1.38l41.9-.04c1.08 0 2.6-.62 3.37-1.39l62.08-61.68a5.45 5.45 0 0 0 1.4-3.35l-.1-268.18c0-1.08-.63-2.59-1.4-3.35l-99.8-99.28a5.52 5.52 0 0 0-3.37-1.39H422.62c-1.08 0-2.6.63-3.37 1.4L260.28 206.3a5.52 5.52 0 0 1-3.38 1.39H127.3c-1.08 0-2.6.62-3.37 1.39l-36.71 36.45a5.45 5.45 0 0 0-1.4 3.35v185.1"/><path stroke="#1EB2D8" d="M410.1 713.73l17.53 17.42c.77.76 2.29 1.39 3.37 1.39h42.02c1.09 0 2.6-.63 3.37-1.4l26.02-25.83 123.2-.31"/><path/><path stroke="#2283BC" d="M307.34 907.08c.77-.77.52-1.4-.57-1.4H108.29a1.97 1.97 0 0 1-1.98-1.95V743.59c0-1.08.9-1.96 1.98-1.96h264.38c1.09 0 2.6-.63 3.38-1.4l23.75-23.58c.77-.76.77-2 0-2.76l-80.84-80.1c-.77-.76-.51-1.4.57-1.4h137.53c1.09 0 2.6-.62 3.38-1.38l53.63-53.26a5.52 5.52 0 0 1 3.37-1.4l88.57-.2c1.09 0 2.6-.62 3.38-1.38l55.6-55.22a5.45 5.45 0 0 0 1.4-3.35V409.93c0-1.08.9-1.96 1.98-1.96h29c1.08 0 2.6-.63 3.37-1.4l43.32-43.01a5.52 5.52 0 0 1 3.37-1.4h6.11c1.09 0 2.6-.62 3.38-1.38l53.12-52.76a5.52 5.52 0 0 1 3.37-1.39h13.6c1.08 0 2.6.63 3.37 1.4L892.79 370c.77.77 2.29 1.4 3.37 1.4h74.06c1.08 0 2.6.62 3.37 1.38l93.97 93.5"/><path stroke="#E6632A" d="M647.56 429.46v-33.62c0-1.08-.63-2.59-1.4-3.35l-31.45-31.22a5.52 5.52 0 0 0-3.37-1.4h-36.87c-1.08 0-2.6.63-3.37 1.4l-74.35 73.83a5.52 5.52 0 0 1-3.37 1.39H440.9a1.97 1.97 0 0 1-1.98-1.96v-71.5c0-1.08-.88-1.96-1.97-1.96H9.3c-1.08 0-2.6.63-3.37 1.4l-37.9 37.62a5.52 5.52 0 0 1-3.37 1.4h-57c-1.1 0-2.61.62-3.38 1.38l-13.2 13.1a5.52 5.52 0 0 1-3.37 1.4h-13.2"/><path stroke="#F4D21F" d="M219.9 357h144.49l76.54.13c1.08 0 1.97.88 1.97 1.96v71.7c0 1.08.89 1.96 1.97 1.96h46.36c1.08 0 2.6-.63 3.37-1.4l74.35-74a5.52 5.52 0 0 1 3.37-1.4h192.33c1.09 0 2.6-.62 3.37-1.38l43.58-43.28a5.52 5.52 0 0 1 3.37-1.39h10.6c1.08 0 2.6.63 3.37 1.4l62.65 62.2c.77.77 2.29 1.4 3.37 1.4h73.87c1.09 0 2.6.63 3.38 1.4l94.12 93.47 9.27.57c.84 0 2.17-.62 2.93-1.39l104.08-89.36a1.97 1.97 0 0 1 2.78 0l6.3 6.25"/><path stroke="#9DCA40" d="M599.92 564.19a6.6 6.6 0 0 0 4.04-1.67l47.94-47.6a6.5 6.5 0 0 0 1.67-4.01V313.84c0-1.3-.75-3.1-1.67-4.02l-47.94-47.6a6.6 6.6 0 0 0-4.04-1.66h-97.84a6.6 6.6 0 0 0-4.05 1.66l-47.93 47.6a6.5 6.5 0 0 0-1.68 4.02v197.07c0 1.29.75 3.1 1.68 4.01l47.93 47.6a6.6 6.6 0 0 0 4.05 1.67h97.84z"/><path stroke="#1EB2D8" d="M648.25 527.17v33.3c0 1.08-.63 2.58-1.4 3.35l-87.37 86.76c-.77.76-.51 1.39.57 1.39h70.82"/><path stroke="#BC6D21" d="M476.04 273.32v-18.86c0-1.08-.63-2.59-1.4-3.35l-30.9-30.68a5.52 5.52 0 0 0-3.37-1.4H274.62"/><path stroke="#9F83B6" d="M923.43 372.6V119.09c0-1.07-.64-2.58-1.4-3.34L757.4-47.74a5.52 5.52 0 0 0-3.37-1.39H351.57c-1.09 0-2.6.63-3.38 1.4L310.5-10.3"/><path stroke="#ED8E3F" d="M317-49.77L304.42-37.3a5.58 5.58 0 0 0-1.42 3.35l-.36 21.45a5.3 5.3 0 0 0 1.36 3.35L493.36 178.9c.77.76 1.4 2.27 1.4 3.35v18.41c0 1.08.89 1.96 1.97 1.96h87.86c1.09 0 1.98.88 1.98 1.96v34.67c0 1.08.88 1.96 1.97 1.96h23.3c1.08 0 2.6.63 3.37 1.4l46.16 45.83c.77.77 1.4 2.28 1.4 3.35v138.64l.07 84.4c0 1.08-.63 2.6-1.38 3.35l-53.63 53.27a5.52 5.52 0 0 1-3.37 1.39H557.9c-1.08 0-2.6.63-3.37 1.39L380.57 746.98a5.52 5.52 0 0 1-3.38 1.39H112.47c-1.09 0-1.97.88-1.97 1.96v93.24c0 1.08-.9 1.96-1.98 1.96h-224.54"/><path stroke="#DA5A98" d="M415.07 612.97l63.3-62.86a5.52 5.52 0 0 1 3.37-1.4h124.67c1.08 0 2.6-.6 3.37-1.37l28.23-27.83a5.35 5.35 0 0 0 1.4-3.33V478.2c0-1.07.89-1.96 1.97-1.96H694c1.09 0 1.97-.88 1.97-1.95v-52.11c0-1.08.64-2.59 1.4-3.35l29.57-29.37a5.45 5.45 0 0 0 1.4-3.35v-76c0-1.08.9-1.96 1.98-1.96h37.9a4 4 0 0 0 4-4v-29.3c0-1.08.63-2.59 1.4-3.35l35.35-35"/><path stroke="#1AA5D0" d="M893.1 374.7L847.5 420a5.52 5.52 0 0 1-3.37 1.38H618.66c-1.09 0-2.6-.62-3.37-1.39l-81.65-81.08a5.52 5.52 0 0 0-3.37-1.39H384.49c-1.08 0-2.6.63-3.37 1.4l-17.14 17.02"/><path stroke="#55B549" d="M288.52 640.2h-46.9c-1.09 0-1.98.88-1.98 1.95v26.65c0 1.07-.89 1.95-1.97 1.95h-89.32"/><path stroke="#D3C452" d="M281.34 229.6l9.65 9.59c.77.76 2.29 1.39 3.37 1.39l146.76-.2c1.09 0 2.6.63 3.38 1.37l115.95 114c.77.76.77 1.99 0 2.75l-37.2 37.05a1.96 1.96 0 0 0 0 2.78l49.62 49.28c.77.77 2.3 1.4 3.38 1.4h138.28c1.08 0 2.6.62 3.37 1.39l37.26 37c.77.76 2.3 1.4 3.38 1.4h21.7"/><path stroke="#9DCA40" d="M-116.02 841.87h216.77c1.09 0 1.97-.89 1.97-1.96v-99.83c0-1.08.9-1.96 1.98-1.96h266.24c1.08 0 2.6-.62 3.37-1.39l20.18-20.04c.77-.76.77-2.02 0-2.76l-78.7-78.2a5.45 5.45 0 0 1-1.4-3.35v-1.57c0-1.07.88-1.96 1.97-1.96l139.22.02c1.09 0 2.6-.62 3.38-1.39l53.7-53.48a4.86 4.86 0 0 1 2.8-1.39c.76 0 1.41-.88 1.41-1.96v-6.62"/><path stroke="#B00D7C" d="M317.92 257.82l73.16 72.65c.77.77 1.4 2.27 1.4 3.35v45.25c0 1.08.63 2.59 1.4 3.35l12.02 11.93c.77.77 2.28 1.4 3.37 1.4h9.86c1.09 0 2.6-.63 3.38-1.4l6.29-6.25a5.52 5.52 0 0 1 3.37-1.39h85.81c1.08 0 2.6-.62 3.37-1.39l63.1-62.66a5.52 5.52 0 0 1 3.38-1.4h161.56c1.08 0 1.97.89 1.97 1.96v178.66c0 1.07-.63 2.58-1.4 3.35l-11.42 11.34a5.52 5.52 0 0 1-3.38 1.39H529.03a1.97 1.97 0 0 1-1.98-1.96v-73.07c0-1.07-.88-1.96-1.97-1.96h-88.26a1.97 1.97 0 0 1-1.97-1.95V406.5c0-1.08-.89-1.96-1.97-1.96-1.99 0-3.5-.63-4.28-1.4l-7.44-7.38"/><path stroke="#DA5A98" d="M650.42-78.35v211.36c0 1.08.63 2.59 1.4 3.35l46.73 46.4c.77.77 1.4 2.28 1.4 3.36v35.79l-2.49-.14c-.75 0-1.97.63-2.74 1.4l-18.32 18.19a5.45 5.45 0 0 0-1.4 3.35v116.95c0 1.07.63 2.58 1.38 3.35l46.53 46.58a5.42 5.42 0 0 1 1.38 3.35l-.02 30.34c0 1.08-.63 2.59-1.4 3.35l-4.91 4.88a5.52 5.52 0 0 1-3.37 1.4H599.52c-1.08 0-1.97.87-1.97 1.95v36c0 1.08-.89 1.96-1.97 1.96h-92.71c-1.09 0-2.6.63-3.38 1.4l-19.58 19.45a5.52 5.52 0 0 1-3.38 1.39h-63.61"/><path stroke="#1EB2D8" d="M281.48 745v84.33c0 1.08-.89 1.96-1.97 1.96h-57.48c-1.09 0-1.98.88-1.98 1.96v10.36c0 1.08-.88 1.96-1.97 1.96H110.52"/><path stroke="#F5C739" d="M10.95 362.32l113.4 112.62c.78.77 2.3 1.4 3.38 1.4h36.12c1.08 0 2.6.62 3.37 1.38l205.45 204.03c.77.76 2.29 1.39 3.37 1.39l62.74.03h29.53c1.09 0 2.6.63 3.37 1.4l16.36 16.23c.77.77 2.29 1.4 3.37 1.4h134.34"/><path stroke="#31B495" d="M275.82 590.44l24.44-24.27a5.52 5.52 0 0 1 3.37-1.4h121.52c1.08 0 2.6.63 3.37 1.4l34.32 34.08c.77.77 2.3 1.4 3.38 1.4h54.36"/><path stroke="#AD7D20" d="M633.41 278.74l-21.36-21.22a5.45 5.45 0 0 1-1.4-3.35V-78.58"/><path stroke="#1F8C43" d="M754.4 192.02v20.11c0 1.08-.9 1.96-1.98 1.96h-94.49c-1.08 0-2.6.63-3.37 1.4l-50.28 49.93a5.45 5.45 0 0 0-1.4 3.35v56.41c0 1.08.63 2.59 1.4 3.35l10.63 10.56c.77.76 1.4 2.27 1.4 3.35v121.45c0 1.08-.89 1.96-1.97 1.96H429.6c-1.08 0-2.6-.62-3.37-1.39l-21.2-21.06-15.77 14.8a5.52 5.52 0 0 1-3.37 1.38H282.15c-1.08 0-2.6.63-3.37 1.37l-62.1 61.3a5.5 5.5 0 0 1-3.37 1.37h-69.85c-1.09 0-2.6.63-3.37 1.4l-68.22 67.73a5.52 5.52 0 0 1-3.37 1.4H34.1c-1.09 0-2.6.62-3.38 1.38l-61.64 61.22a5.45 5.45 0 0 0-1.4 3.35v98.02c0 1.08-.89 1.96-1.97 1.96h-30.76c-1.08 0-2.6.63-3.37 1.4l-48.29 47.95"/><path stroke="#74BB63" d="M184.55 422.03v34.09c0 1.07-.63 2.58-1.4 3.35l-56.48 55.88a5.52 5.52 0 0 1-3.37 1.4H-34.6"/><path stroke="#E5683E" d="M980.12 416.59l-15.05-14.95a5.52 5.52 0 0 0-3.38-1.4h-46.04c-1.08 0-2.6.63-3.37 1.4l-14.5 14.4c-.77.76-1.4.5-1.4-.57v-34.93c0-1.08-.63-2.58-1.4-3.35l-2.48-2.47"/><path stroke="#DA5A98" d="M826.77 238.25v54.43c0 1.08.63 2.59 1.4 3.35l86.38 85.78c.77.77 2.29 1.4 3.37 1.4h98.61c1.09 0 2.6-.63 3.36-1.4l22.6-22.8a5.47 5.47 0 0 1 3.36-1.39h106.38c1.08 0 1.97-.88 1.97-1.96l.04-95.24c0-1.08.89-1.96 1.97-1.96h39.02c1.09 0 1.97.88 1.97 1.96v48.1"/><path stroke="#E6632A" d="M12.87 361.05h-5c-1.1 0-2.61-.63-3.38-1.4l-17.72-17.58a5.52 5.52 0 0 0-3.37-1.4h-16.9c-1.09 0-2.6-.62-3.38-1.38l-55.64-55.26a5.52 5.52 0 0 0-3.38-1.4h-15.19"/><path stroke="#3EB373" d="M959.23 126.08l19.2 19.06c.76.76 2.28 1.39 3.36 1.39h177.42c1.09 0 1.97.88 1.97 1.96v100.84a3 3 0 0 0 3 3h36.42c1.08 0 1.97.88 1.97 1.96v54.65"/><path stroke="#2765B0" d="M33.17 798.75h242.12c1.08 0 1.97-.88 1.97-1.96V672.9c0-1.08-.89-1.96-1.97-1.96h-30.12a1.97 1.97 0 0 1-1.98-1.96v-26.76c0-1.07-.88-1.96-1.97-1.96h-20.87"/><path stroke="#EB9D12" d="M458.48 496.1h9.55c1.09 0 2.6-.63 3.37-1.4l48.23-47.83a5.52 5.52 0 0 1 3.38-1.39h24.26c1.08 0 2.6.63 3.37 1.39l23.26 23.1c.77.76 2.29 1.39 3.37 1.39h111.06c1.09 0 1.97-.88 1.97-1.96v-54.46c0-1.08-.63-2.59-1.4-3.33l-20.35-20.04-2.8-2.76-1.17-1.16a5.52 5.52 0 0 0-3.37-1.39h-11.66a1.97 1.97 0 0 1-1.97-1.96V310.6c0-1.08.88-1.96 1.97-1.96h77.38"/><path stroke="#9DCA40" d="M-34.94 402.19v111.19c0 1.07.63 2.58 1.4 3.35l49.06 48.71c.76.77 2.28 1.4 3.37 1.4h21.8c1.08 0 2.6.62 3.37 1.39l113 112.22c.78.77 2.3 1.4 3.38 1.4h170.6c1.08 0 1.97.87 1.97 1.95v60.41"/></g></svg>
            </div>
            <div class="container">
                <nav class="navbar">
                    <ul class="navigation">
                        <li><a href="#one"></a></li>
                        <li><a href="#two"></a></li>
                        <li><a href="#three"></a></li>
                        <li><a href="#four"></a></li>
                    </ul>
                </nav>
                <section id="one" class="one">
                    <div class="text">
                        <img src="img/banner.png" alt="IEEE Upiita" class="banner">
                        <span class="txt">Presentan:</span>
                        <img src="img/logo_t.png" alt="logo guerra de robots" class="logo">
                        <div class="titles">
                            <svg id="anio" width="312" height="84" viewBox="0 0 312 84" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.6875 82V83H2.6875H72.6875H73.6875V82V62V61H72.6875H23.6875V53H62.6875H63.1017L63.3946 52.7071L73.3946 42.7071L73.6875 42.4142V42V12V11.5858L73.3946 11.2929L63.3946 1.29289L63.1017 1H62.6875H2.6875H1.6875V2V22V23H2.6875H51.6875V31H12.6875H12.2733L11.9804 31.2929L1.98039 41.2929L1.6875 41.5858V42V82ZM80.5938 82V83H81.5938H131.594H132.008L132.301 82.7071L152.301 62.7071L152.594 62.4142V62V2V1H151.594H101.594H101.18L100.887 1.29289L80.8866 21.2929L80.5938 21.5858V22V82ZM159.5 82V83H160.5H230.5H231.5V82V62V61H230.5H181.5V53H220.5H220.914L221.207 52.7071L231.207 42.7071L231.5 42.4142V42V12V11.5858L231.207 11.2929L221.207 1.29289L220.914 1H220.5H160.5H159.5V2V22V23H160.5H209.5V31H170.5H170.086L169.793 31.2929L159.793 41.2929L159.5 41.5858V42V82ZM238.406 82V83H239.406H289.406H289.82L290.113 82.7071L310.113 62.7071L310.406 62.4142V62V2V1H309.406H259.406H258.992L258.699 1.29289L238.699 21.2929L238.406 21.5858V22V82ZM102.594 23H130.594V61H102.594V23ZM260.406 23H288.406V61H260.406V23Z" stroke="white" stroke-width="1"/>
                            </svg>


                        </div>
                        <div class="info">
                            <span class="place">CDMX - UPIITA - IPN</span>
                            <span class="date">11.11.20 - 13.11.20</span>
                        </div>
                    </div>
                </section>
                <section id="two">
                    <div class="container">
                        <div class="glide">
                            <div class="glide__track" data-glide-el="track">
                            <ul class="glide__slides">
                                <li class="glide__slide">
                                    <div class="title">
                                        <img src="img/robot.png" alt="" class="icon">
                                        <p class="name">Guerra de Robots</p>
                                        <p class="intro">Las batallas que aqui se libran no son amistosas.</p>
                                    </div>
                                    <div class="category">
                                        <ul>
                                            <li>
                                                <p class="name">1 Libra</p>
                                                <p class="price">$ 99.99*</p>
                                                <button>Reglamento</button>
                                            </li>
                                            <li>
                                                <p class="name">3 Libras</p>
                                                <p class="price">$ 99.99*</p>
                                                <button>Reglamento</button>
                                            </li>
                                        </ul>
                                        <ul>
                                            <li>
                                                <p class="name">12 Libras</p>
                                                <p class="price">$ 99.99*</p>
                                                <button>Reglamento</button>
                                            </li>
                                            <li>
                                                <p class="name">30 Libras</p>
                                                <p class="price">$ 99.99*</p>
                                                <button>Reglamento</button>
                                            </li>
                                        </ul>
                                        <ul>
                                            <li>
                                                <p class="name">60 Libras</p>
                                                <p class="price">$ 99.99*</p>
                                                <button>Reglamento</button>
                                            </li>
                                            <li>
                                                <p class="name">120 Libras</p>
                                                <p class="price">$ 99.99*</p>
                                                <button>Reglamento</button>
                                            </li>
                                        </ul>
                                            <ul>
                                            <li>
                                                <p class="name">220 Libras</p>
                                                <p class="price">$ 99.99*</p>
                                                <button>Reglamento</button>
                                            </li>
                                        </ul>
                                    </div>                                          
                                </li>
                                <li class="glide__slide">
                                    <div class="title">
                                        <img src="img/robots.png" alt="" class="icon">
                                        <p class="name">Minirob&oacute;tica</p>
                                        <p class="intro">Las pequeñas ideas y creaciones cambiaran al mundo</p>
                                    </div>
                                    <div class="category">
                                        <ul>
                                            <li>
                                                <p class="name">Sumo R.C.</p>
                                                <p class="price">$ 99.99*</p>
                                                <button>Reglamento</button>
                                            </li>
                                            <li>
                                                <p class="name">Sumo Aut&oacute;nomo</p>
                                                <p class="price">$ 99.99*</p>
                                                <button>Reglamento</button>
                                            </li>
                                        </ul>
                                        <ul>
                                            <li>
                                                <p class="name">Minisumo</p>
                                                <p class="price">$ 99.99*</p>
                                                <button>Reglamento</button>
                                            </li>
                                            <li>
                                                <p class="name">Microsumo</p>
                                                <p class="price">$ 99.99*</p>
                                                <button>Reglamento</button>
                                            </li>
                                            </ul>
                                            <ul>
                                            <li>
                                                <p class="name">Seguidor de l&iacute;nea</p>
                                                <p class="price">$ 99.99*</p>
                                                <button>Reglamento</button>
                                            </li>
                                        </ul>
                                    </div> 
                                </li>
                                <li class="glide__slide">
                                    <div class="title">
                                        <img src="img/robot-in-suit.png" alt="" class="icon">
                                        <p class="name">Lego Junior</p>
                                        <p class="intro">Las mentes de los mas pequeños tambien crean las cosas mas grandes</p>
                                    </div>
                                    <div class="category">
                                        <ul>
                                            <li>
                                                <p class="name">Sumo</p>
                                                <p class="price">$ 99.99*</p>
                                                <button>Reglamento</button>
                                            </li>
                                            <li>
                                                <p class="name">Seguidor de linea</p>
                                                <p class="price">$ 99.99*</p>
                                                <button>Reglamento</button>
                                            </li>
                                        </ul>
                                    </div> 
                                </li>
                                <li class="glide__slide">
                                    <div class="title">
                                        <img src="img/drone.png" alt="" class="icon">
                                        <p class="name">A&eacute;reas</p>
                                        <p class="intro">El hombre siempre busca llegar mas alto que los cielos, al lugar donde estan sus sueños.</p>
                                    </div>
                                    <div class="category">
                                        <ul>
                                            <li>
                                                <p class="name">Carrera de drones</p>
                                                <p class="price">$ 99.99*</p>
                                                <button>Reglamento</button>
                                            </li>
                                        </ul>
                                    </div> 
                                </li>
                            </ul>
                            </div>
                            <div class="glide__arrows" data-glide-el="controls">
                            <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><i class="icon icon-arrow_left-"></i></button>
                            <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><i class="icon icon-arrow_right-"></i></button>
                            </div>
                        </div>
                        <div class="references">
                            <p>* Los precios de registro e inscripci&oacute;n pueden ser modficados sin previo aviso. Todos los precios de inscripci&oacute;n estan dados en MXN (Peso Mexicano) e incluye IVA.</p>
                        </div>
                    </div>
                </section>
                <section id="three">
                    COSTOS
                </section>
                <section id="four">
                    PROMOCIONES
                </section>
            </div>
        </article>
        <!-- TAB ABOUT SEMIFINISH//// -->
        <article class="panel_item" id="tab3">
            <div class="bg-about"></div>
            <div class="container">
                <div class="titles">
                    <span>ACERCA DE </span><i></i><span> GDR</span>
                </div>
                <div class="logo">
                    <img src="img/LogoColor.png" alt="">
                    <span>
                        M&aacute;s de 12 años de experiencia, la participaci&oacute;n de 72 instituciones p&uacute;blicas y privadas, 300 equipos de 6 pa&iacute;ses, mas de 1,350 prototipos registrados y 16 categor&iacute;as hacen a guerra de robots el evento de rob&oacute;tica m&aacute;s grande de M&eacute;xico. 
                    </span>
                </div>
                <div class="info">
                    <div class="row">
                        <div class="card">
                            <p class="name">John Doe</p>
                            <p class="tag">organizador</p>
                            <p class="description"><a href="#">www.example.com</a></p>
                        </div>
                        <div class="card">
                            <p class="name">Web Design</p>
                            <p class="tag">equipo de desarrollo</p>
                            <p class="description"><a href="#">www.example.net</a></p>
                        </div>
                        <div class="card">
                            <p class="name">Nombre</p>
                            <p class="tag">title</p>
                            <p class="description"><a href="#">www.example.mx</a></p>
                        </div>
                        <div class="card">
                            <p class="name">nombre</p>
                            <p class="tag">title</p>
                            <p class="description"><a href="#">www.example.com.mx</a></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="card">
                            <p class="name">IEEE</p>
                            <p class="tag">patrocinador</p>
                            <p class="description"><a href="#">www.example.xyz</a></p>
                        </div>
                        <div class="card">
                            <p class="name">Nombre Rows</p>
                            <p class="tag">title</p>
                            <p class="description"><a href="#">www.example.tech</a></p>
                        </div>
                        <div class="card">
                            <p class="name">Nombre</p>
                            <p class="tag">title</p>
                            <p class="description"><a href="#">www.example.uk</a></p>
                        </div>
                        <div class="card">
                            <p class="name">nombre</p>
                            <p class="tag">title</p>
                            <p class="description"><a href="#">www.example.org</a></p>
                        </div>
                    </div>
                </div>
                <footer>
                    <span>Todos los derechos reservados &copy; 2020. Guerra de Robots.</span>
                    <a href="#">Aviso de Privacidad</a><a href="#">Terminos y Condiciones</a>
                </footer>
            </div>
        </article>
        <!-- TAB SING IN FINISH//// -->
        <article class="panel_item" id="tab4">
            <div class="container">
                <div class="text">
                    <div class="text-type">
                        <span class="type_login">La innovaci&oacute;n es lo que distingue a un l&iacute;der de los dem&aacute;s</span>
                        <span class="typed-cursor typed-cursor--blink">_</span>
                    </div>
                    <span class="title">
                        Inicia sesi&oacute;n o reg&iacute;strate y forma parte de este gran evento.
                    </span>
                </div>
                <div class="form-box">
                <div class="social-login">

                <!-- LOGIN GOOGLE -->
                    <div class="card">
                        <a href="/users/google">
                            <i class="icon icon-google-"></i>
                            <p>Google</p>
                        </a>
                    </div>

                <!-- LOGIN FACEBOOK -->
                    <div class="card">
                        <a href="/users/facebook">
                            <i class="icon icon-facebook-"></i>
                            <p>Facebook</p>
                        </a>
                    </div>
                </div>

                <!-- LOGIN NORMAL -->
                <form method="POST" id="form">
                    <div class="input-box email">
                        <label for="email" class="label">correo electr&oacute;nico</label>
                        <input name="email" type="email" class="input" id="email" autocomplete="off" placeholder="micorreo@guerraderobots.com" required >
                    </div>
                    <div class="input-box password">
                        <label for="password" class="label">contrase&ntilde;a</label>
                        <input name="password" type="password" class="input" id="password" autocomplete="off" placeholder="&times;&times;&times;&times;&times;&times;&times;&times;&times;&times;" required pattern="[!-~]{6,16}$" oninvalid="this.setCustomValidity('La contraseña debe tener al menos 6 caracteres validos')" oninput="this.setCustomValidity('')">
                    </div>
                    <div class="button-box">
                        <button type="submit" formaction="/users/login" class="login">entrar</button>
                        <button type="submit" formaction="/users/signup" class="register">registrar</button>
                    </div>
                </form>
                
            </div>
            </div>
            <div class="background"></div>
        </article>
    </div>
</main>
<!-- JS -->
<script src="js/slider.js"></script>
<script src="js/svg.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
<script type="text/javascript">
    const config = {
        type: "carousel"
    }
    new Glide('.glide').mount();
</script>
