<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Guerra de Robots | 2020</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="icon-font/style.css">
    <link rel="stylesheet" href="css/glide.core.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>  
    <script src="js/tabs.js"></script>
    <script src="js/mgGlitch.js"></script>
    <script src="js/rgbShiftSlider.js"></script>
    <script src="js/script.js"></script>
    <script src="js/anime.js"></script>
</head>
<body onload="showAlert()">
    {{{body}}}
</body>
</html>
{{>messages}}